<footer class="bg-dark text-white mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-6">
                <h5>О проекте MinDjango</h5>
                <p>MinDjango - это ваш надежный партнер в изучении и разработке веб-приложений с использованием Django и других современных технологий.</p>
            </div>
            <div class="col-md-6">
                <h5>Контакты</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Электронная почта: info@mindjango.com</a></li>
                    <li><a href="#" class="text-white">Телефон: +1 (234) 567-890</a></li>
                    <li><a href="#" class="text-white">Адрес: 1234 Django St, Web City</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; 2023 MinDjango. Все права защищены.</p>
        </div>
    </div>
</footer>