{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    {% block title %}

    {% endblock %}

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar (Aside) -->
        <aside class="col-md-3 col-lg-2 bg-light p-3">
            <div class="text-center">
                <img src="{% static 'main/img/1.jpg' %}" alt="миньон" class="img-fluid rounded mb-3" style="width: 150px;">
                <h4>MinDjango</h4>
            </div>

            {% include 'main/menu.html'%}

        </aside>

       <!-- Main Content Area -->
        <main class="col-md-9 col-lg-10 p-4">
            {% block content %}
            {% endblock %}
        </main>


    </div>
</div>


{% include 'main/footer.html'%}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>